server:
  port: 5000
  address: 0.0.0.0

lavalink:
  server:
    password: "reddybhaigaming"
    sources:
      youtube: false 
      soundcloud: true
      http: true

plugins:
  lavasrc:
    providers: 
      # This line tells Spotify to look for the music on YouTube
      - "ytsearch:\"%ISRC%\"" 
      - "ytsearch:%QUERY%"
    sources:
      spotify: true
    spotify:
      clientId: "3f0943b1fea648d5b4f2ffe0f4f7e04a"
      clientSecret: "d27daa4025cf4cb992f0e0e8859f90a7"
      countryCode: "IN"

youtube:
  enabled: true
  allowSearch: true
  allowDirectVideoIds: true
  allowDirectPlaylistIds: true
  clients:
    - MUSIC
    - WEB
    - TVHTML5EMBEDDED