server:
  port: ${PORT:5000}
  address: 0.0.0.0

lavalink:
  server:
    password: "reddybhaigaming"
    sources:
      youtube: true
      soundcloud: true
      http: true

plugins:
  lavasrc:
    providers:
      - "ytsearch:\"%ISRC%\""
      - "ytsearch:%QUERY%"
    sources:
      spotify: true
    spotify:
      clientId: ${SPOTIFY_CLIENT_ID}
      clientSecret: ${SPOTIFY_CLIENT_SECRET}
      countryCode: "IN"

youtube:
  enabled: true
  allowSearch: true
  allowDirectVideoIds: true
  allowDirectPlaylistIds: true
  clients:
    - MUSIC
    - WEB
    - TVHTML5EMBEDDED 
